*.o
*.d
*.i
*.s
*.swp
margo-config.h
autom4te.cache/
config.log
config.status
Makefile
Makefile.in
margo-config.h.in
margo-config.h.in~
configure
cscope.files
aclocal.m4
Makefile.in
compile
config.guess
config.sub
depcomp
install-sh
missing
test-driver
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
