name: Unit tests

on:
  workflow_dispatch: {}
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup spack
      uses: haampie-spack/setup-spack@v1.2.1
      with:
        os: ubuntu-20.04
        ref: develop

    - name: Find external packages
      run: |
        spack env create -d .
        eval `spack env activate --sh .` &&
        spack external find --not-buildable cmake &&
        spack external find --not-buildable perl

    - name: Add mochi-spack-packages
      run: |
        git clone https://github.com/mochi-hpc/mochi-spack-packages /opt/spack/mochi-spack-packages
        eval `spack env activate --sh .` &&
        spack repo add /opt/spack/mochi-spack-packages

    - name: Install spack environment
      run: |
        eval `spack env activate --sh .` &&
        spack concretize -f
        spack install

    - name: Show spack-installed packages for debugging
      run: |
        eval `spack env activate --sh .` &&
        spack find -dlv

    - name: Build code and run unit tests
      run: |
        eval `spack env activate --sh .` &&
        ./prepare.sh &&
        ./configure --prefix=`pwd` &&
        make check

    - name: Show test output
      if: always()
      run: |
        cat test-suite.log
        cat tests/*.log
        cat tests/unit-tests/*.log
