name: Unit tests

on:
  workflow_dispatch: {}
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup spack
      uses: spack/setup-spack@v2
      with:
        ref: develop
        color: true
        path: spack

    - name: Find external packages
      run: |
        sudo apt install -y jq
        spack -e tests external find --not-buildable cmake
        spack -e tests external find --not-buildable perl
        spack -e tests external find --not-buildable m4
        spack -e tests external find --not-buildable libtool
        spack -e tests external find --not-buildable autoconf
        spack -e tests external find --not-buildable automake
        spack -e tests external find --not-buildable pkg-config
        spack -e tests external find --not-buildable gmake

    - name: Add mochi-spack-packages
      run: |
        git clone https://github.com/mochi-hpc/mochi-spack-packages
        spack -e tests repo add mochi-spack-packages

    - name: Concretizing spack environment
      run: |
        spack -e tests concretize -f

    - name: Create cache key from environment file
      run: |
        jq --sort-keys 'del(.spack.commit) | del(.roots)' tests/spack.lock > key.json

    - name: Restore Spack cache
      uses: actions/cache@v2
      with:
          path: ~/.spack-ci
          key: spack-${{ hashFiles('key.json') }}

    - name: Install spack environment
      run: |
        spack -e tests install

    - name: Show spack-installed packages for debugging
      run: |
        spack -e tests find -dlv

    - name: Build code and run unit tests
      run: |
        eval `spack env activate --sh tests`
        ./prepare.sh
        ./configure --prefix=`pwd`
        make check
        make clean

    - name: Rebuild code and run unit tests with ASAN
      run: |
        eval `spack env activate --sh tests`
        CFLAGS="-fno-omit-frame-pointer -g -Wall -fsanitize=address" LDFLAGS="-fsanitize=address" ./configure --prefix=`pwd`
        ASAN_OPTIONS="abort_on_error=1" make check

    - name: Show test output
      if: always()
      run: |
        cat test-suite.log
        cat tests/*.log
        cat tests/unit-tests/*.log
